<div>
  <app-host-binding-listen></app-host-binding-listen>
  <app-form-reactive-demo></app-form-reactive-demo>
  <app-form-validation></app-form-validation>
  <app-interpolationdb></app-interpolationdb>
  <app-propertydb></app-propertydb><br />
  <app-eventdb></app-eventdb><br />
  <app-class-styledb></app-class-styledb><br />
  <app-twowaydb></app-twowaydb><br />
  <app-formsangular></app-formsangular><br />
  <app-todo></app-todo><br />
  <app-structuraldirectives></app-structuraldirectives>
  <app-pipe-demo></app-pipe-demo><br />
  <app-forms-responsive></app-forms-responsive><br />
  <app-forms-responsive2></app-forms-responsive2><br />
  <h1>This is from parent: {{ parentData }}</h1>
  <br />
  <app-inputdecorator
    [childData]="parentData"
    [data1]="data"
  ></app-inputdecorator>
  <h1>{{ cdata }}</h1>
  <h2>{{ msg }}</h2>
  <app-outputdecorator
    (customevent)="updatemsg($event)"
    (messageSent)="receivemsg($event)"
  ></app-outputdecorator>
  <div>
    <app-service-demo></app-service-demo>
    <!--<app-httpservice-demo></app-httpservice-demo>-->
    <app-stop-watch></app-stop-watch>
    <app-fetch-api-demo></app-fetch-api-demo>
    <app-lifecyclehooks></app-lifecyclehooks>
    <app-debounceing-example></app-debounceing-example>
    <app-searchitem></app-searchitem>
    <app-searchtermapi></app-searchtermapi>
    <app-createupdatedelete></app-createupdatedelete>
    <app-ngcontent-parent></app-ngcontent-parent>
    <app-viewchild></app-viewchild>
  </div>
</div>
